.header {
  padding: 2.5rem 7%;
  position: relative;
  overflow: hidden;
}

.dark-mode {
  background-color: #181e4b;
  color: #fff;
}

.light-mode {
  background-color: #fff;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 2.5rem;
  font-weight: 700;
  color: #181e4b;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.nav-links a {
  text-decoration: none;
  color: #212832;
  font-weight: 500;
  font-size: 1.1rem;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #df6951;
}

.signup-btn {
  padding: 0.8rem 2rem;
  border: 1px solid #212832;
  border-radius: 5px;
  background: transparent;
  color: #212832;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

.signup-btn:hover {
  background: #212832;
  color: white;
}

.language-select {
  padding: 0.5rem;
  border: none;
  background: transparent;
  color: #212832;
  cursor: pointer;
  font-weight: 500;
}
